{% extends 'base.html' %}

{% block title %}
{{ object.name }} ({{ object.post_date }}
{% endblock title %}

{% block content %}
<h2>{{ object.name }}</h2>
<h3>{{object.caption}}</h3>
<h4>Postado em {{ object.post_date }}</h4>

<section class="detalhes">
    <img id="poster" src="{{ object.poster_url }}" alt="Poster do aviao {{ object.name}}">
    <h2>Instruções:</h2>
    <img id="steps" src="{{ object.steps_url }}" alt="Instruções para fazer um(a) {{ object.name}}">
    {% if object.category_set.all %}
    <h4 class="tags">Incluso nas categorias:
    {% for category in object.category_set.all %}
        <li><a href="{% url 'avioes:category' category.id %}">{{ category.name }}</a></li>
    {% endfor %}</h4>
    {% endif %}
    <h4><a href="{% url 'avioes:update' object.id %}">Editar publicação</a></h4>
    <h4><a href="{% url 'avioes:delete' object.id %}">Deletar publicação</a></h4>
</section>


<h2>
    Comentários
</h2>
    <h4><a href="{% url 'avioes:comment' object.pk %}">Adicionar comentário</a></h4>

    {% if object.comment_set.all %}
        {% for comment in object.comment_set.all %}
        <section class="comentario">
                <h4>{{comment.autor}}:</h4><h6></h6>
                <h4>{{comment.text}}</h4><h6> ({{comment.post_date|date:"D d M Y"}})</h6>
        </section>
        {% endfor %}
    {% else %}
    <p>Ainda não há nenhum comentário.</p>
    {% endif %}

{% endblock content %}