{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock title %}

{% block content %}
<p>Este é um site dedicado a trazer tutoriais de como fazer vários aviões de papel. Abaixo você encontra algumas curiosidades sobre eles.
    <ul>
        <li>A origem dos aviões de papel é normalmente atribuída à China Antiga, embora haja evidência de que foi concomitantemente aperfeiçoado e desenvolvido no Japão. Existem diversos modelos de aviões que possuem características diferentes.</li>
        <li>Você pode fazer o seu próprio avião de papel e competir com seus amigos!</li>
        <li> Várias instituições organizam suas próprias competições, como a RedBull.</li>
        <li>O recorde mundial de distância de voo foi quebrado e dezembro de 2022 pelo estadunidense Dillon Rubble, aluno de engenharia aeroespacial, que conseguiu jogar um avião de papel a 88 metros de distância! Confira o vídeo onde o Recorde mundial é quebrado: https://youtu.be/Cbh1cNA0W2A</li>
        <li>Vá em "Tutoriais" e tente fazer o seu avião de papel! Quem sabe você não entra para o Guiness Book também?</li>
    
    </ul>
     </p>
{% endblock content %}